<ion-header>
  <ion-toolbar>
    <ion-title>Autentificacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button expand="full" (click)="authFacebook()">

    <ion-icon slot="start" name="logo-facebook"></ion-icon>

    Facebook
  </ion-button>


  <ion-button expand="full" (click)="authGoogle()">

    <ion-icon slot="start" name="logo-google"></ion-icon>

    Google
  </ion-button>

  <ion-button expand="full" (click)="authTwitter()">

      <ion-icon slot="start" name="logo-twitter"></ion-icon>
  
      Twitter
    </ion-button>

  <ion-card *ngIf="userData.isLogged">
    <ion-card-header>
      {{ userData.username }}
    </ion-card-header>
    <ion-img [src]="userData.picture"></ion-img>
    <ion-card-content>
      <p>
        Email: {{ userData.email }}
      </p>
    </ion-card-content>
    <ion-button (click)="exitFacebook()">
      Logout Facebook
    </ion-button>
  </ion-card>


  <ion-card *ngIf="userGoogle.isLogged">
    <ion-card-header>
      {{ userGoogle.displayName }}
    </ion-card-header>

    <ion-img [src]="userGoogle.imageUrl"></ion-img>
    <ion-card-content>
      <p>
        Email: {{ userGoogle.email }}
      </p>
    </ion-card-content>
    <ion-button (click)="exitGoogle()">
      Logout Google
    </ion-button>
  </ion-card>

  <ion-card *ngIf="userTwitter.isLogged">
    <ion-card-header>
      {{ userTwitter.name }}
    </ion-card-header>
    <ion-img [src]="userTwitter.picture"></ion-img>
    <ion-card-content>
      <p>
        Email: {{ userTwitter.email }}
      </p>
    </ion-card-content>
    <ion-button (click)="exitTwitter()">
      Logout Twitter
    </ion-button>
  </ion-card>

</ion-content>